.simulation-frame {
    display: flex;
    flex-direction: column;
    width: 40vw;
    max-width: 100%;
    min-width: 100%;
}

.main-frame {
    margin-right: 0%;
    padding-right: 0%;
    max-height: 100%;
    max-width: 100%;
}